html,
body {
  margin: 0;
  padding: 0;
}

.cursor-crosshair {
  cursor: crosshair;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
.cursor-grab {
  cursor: grab;
}
.cursor-resize {
  cursor: nwse-resize;
}
.cursor-move {
  cursor: move;
}
/* .cursor-rotate {
  cursor: url(rotate.svg), url(rotate.svg) 0s 0, progress;
} */

/* @todo: change this */
.cursor-rotate {
  cursor: move;
}
